{
  "env": {
    "node": true,
    "jest": true
  },
  "extends": [
    "standard",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "overrides": [
    {
      "files": "*.config.js",
      "rules": {
        "@typescript-eslint/no-var-requires": 0
      }
    }
  ]
}
